# SPDX-FileCopyrightText: NONE
#
# SPDX-License-Identifier: CC0-1.0

bin
tmp
build
__pycache__/
*.pyc
.vscode/
.idea
oc_index.egg-info
dist
logs/
.DS_Store
venv
.venv
input.csv
__stats__
conf.yaml
sh/*
.fleet
docker-compose.yml

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
